// colors
$color-primary: #2ab2af;
$color-primary-light: #4abebd;
$color-secondary: hsl(71, 73%, 54%);

$color-grey-light: hsl(203, 44%, 93%);
$color-grey-light-2: rgba(204, 206, 207, 0.847);
$color-grey-blue: rgb(152, 166, 189);

$mb-first: 81.25em; //1300px / 16
$mb-second: 68.75em; //1100px / 16
$mb-third: 62.5em; //1000px / 16
$mb-fourth: 43.75em; // 700px / 16

// Base styles
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.6%;

	@media only screen and (max-width: $mb-first) {
		font-size: 58%;
	}
	@media only screen and (max-width: $mb-second) {
		font-size: 53%;
	}
	@media only screen and (max-width: $mb-third) {
		font-size: 50%;
	}
}

body {
	background-color: $color-grey-light;
	height: 100vh;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Karla', sans-serif;
	font-weight: 400;
	line-height: 1.6;
}

.container {
	background-color: $color-grey-light;
	height: 100vh;
	padding: 0;
	margin: 0;
	display: grid;
	place-content: center;
	font-size: 1.6rem;
	@media only screen and (max-width: $mb-third) {
		display: flex;
		padding: 2rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	@media only screen and (max-width: $mb-fourth) {
		padding: 0;
	}
}
